<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="dashboard-container">
        <!-- Sidebar -->
        <aside class="sidebar">
            <h2>Dashboard</h2>
            <ul>
                <li><a href="/">Abonnés</a></li>
                <li><a href="/livres">Livres</a></li>
                <li><a href="/emprunts">Emprunts</a></li>
                <li><a href="/addabonne">Ajouter un Abonné</a></li>
                <li><a href="/addLivre">Ajouter un Livre</a></li>
                <li><a href="/addEmprunt">Ajouter un Emprunt</a></li>
            </ul>
        </aside>
        
        <!-- Main Content -->
        <div class="main-content">
            <h1>Gestion des Abonnes</h1>
            
            
            <!-- Table -->
            <table>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Adresse</th>
                        <th>Date inscription</th>
                        <th>liste emprunts</th>
                        <th>historique emprunts</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for abonne in abonnes %}

                    <tr>
                        <td>{{abonne.nom}}</td>
                        <td>{{abonne.prenom}}</td>
                        <td>{{abonne.Adresse}}</td>
                        <td>{{abonne.Date_dinscription}}</td>
                        <td>{{abonne.Liste_emprunts_cours}}</td>
                        <td>{{abonne.historique_emprunts}}</td>


                        <td>
                            <button class="edit-btn" onclick="editEntry()">Modifier</button>
                            <form action="{{ url_for('delete_abonne', nom=abonne.nom) }}" method="POST" style="display:inline;">
                                <button type="submit" class="delete-button">
                                    <span class="material-symbols-sharp" style="font-size: 1.5rem; padding-top:.2rem; padding-left:.1rem">delete</span>
                                    <h3>Supprimer</h3> 
                                </button>
                            </form>                        
                        </td>
                    </tr>
                    {% endfor %}

                    <!-- Ajoutez d'autres lignes ici -->
                </tbody>
            </table>
        </div>
    </div>

    <script src="../static/js/script.js"></script>
</body>
</html>
