<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="dashboard-container">
        <!-- Sidebar -->
        <aside class="sidebar">
          <div class="logo">
            <i class="fas fa-book fa-3x"></i>
            <h2>BiblioFlux</h2>
        </div>
            
            <ul>
              <li><a href="/"><i class="fas fa-user"></i> Abonnés</a></li>
              <li><a href="/livres"><i class="fas fa-book"></i> Livres</a></li>
              <li><a href="/emprunts"><i class="fas fa-handshake"></i> Emprunts</a></li>
              <li><a href="/addabonne"><i class="fas fa-user-plus"></i> Ajouter un Abonné</a></li>
              <li><a href="/addLivre"><i class="fas fa-plus-square"></i> Ajouter un Livre</a></li>
              <li><a href="/addEmprunt"><i class="fas fa-plus-circle"></i> Ajouter un Emprunt</a></li>
            </ul>
        </aside>
        
        <!-- Main Content -->
        <div class="main-content">
            <h1>Gestion des Livres</h1>
            
            
            <!-- Table -->
            <table>
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Type</th>
                        <th>Auteur</th>
                        <th>Date de publication</th>
                        <th>Disponibilité</th>
                        
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for livre in livres %}

                    <tr>
                        <td>{{livre.titre}}</td>
                        <td>{{livre.type}}</td>
                        <td>{{livre.Auteur}}</td>
                        <td>{{livre.Date_publication}}</td>
                        <td>{{livre.Disponibilite}}</td>
                        


                        <td>

                            <button class="edit-btn" data-bs-toggle="modal" data-bs-target="#editModal{{ livre.titre }}">
                                <i class="fas fa-edit"></i>
                              </button>
                            
                            
                                <button type="submit" class="delete-button">
                                    <h3>Supprimer</h3> 
                                </button>
                            </form>

                            

                            
                            
                            
                            
                            
                        </td>
                    </tr>

                    


                    {% endfor %}

                    <!-- Ajoutez d'autres lignes ici -->
                </tbody>
            </table>
        </div>
    </div>

    

    <script src="../static/js/script.js"></script>
</body>
</html>
